@model SourceBrowser.Site.Models.GitCredentialsModel

@{
    ViewBag.Title = "Upload";
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/upload")


<div style="margin:65px 0px 65px 0px" class="text-center">
    <h2>Upload any Git Repo</h2>
    <h4>Paste the URL of the project</h4>
    @if (ViewBag.Error != null)
    {
        <h5 style="color:red">@ViewBag.Error</h5>
    }
</div>
@using (Html.BeginForm("Submit", "Upload", FormMethod.Post, new { style = "margin: 0px 0px 150px 0px", role = "form", @class="bs-example bs-example-form" }))
{
    @Html.AntiForgeryToken()
    @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
    <div style="margin: 0 auto; max-width: 1000px;" class="input-group input-group-lg">
        @Html.TextBoxFor(x => x.RepositoryUrl, new { @class = "form-control", style = "max-width:100%", placeholder = "enter the repository url here" })
        <span class="input-group-btn">
            <button class="btn btn-success success" type="submit">Go!</button>
        </span>
    </div>
    <div style="margin: 0 auto; max-width: 1000px;" class="input-group input-group-lg">
        @Html.ValidationMessageFor(m => m.RepositoryUrl, "", new { @class = "text-danger" })
    </div>
    <br />
    <div style="margin: 0 auto; max-width: 1000px;" class="input-group input-group-lg">
        <h4>Need credentials?</h4>
    </div>
    <div style="margin: 0 auto; max-width: 1000px;" class="input-group input-group-lg">
        @Html.TextBoxFor(x => x.Username, new { @class = "form-control", placeholder = "username" })
        <br />
        @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
    </div>
    <div style="margin: 0 auto; max-width: 1000px;" class="input-group input-group-lg">
        @Html.PasswordFor(x => x.Password, new { @class = "form-control", placeholder = "password" })
        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}